@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: violet;
  text-decoration: underline;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.subtitle {
  text-align: left;
  font-size: 5rem;
  font-weight: 300;
  color: #000;
}

.btn {
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-1 {
  color: #000;
  background: #fff;
  margin: 2rem 0;
}

.button-2 {
  color: #fff;
  background: #000;
}

form .form-group {
  margin-bottom: 1rem;
}
form .form-control {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
}
form .button-2 {
  width: 100%;
  margin-bottom: 2rem;
}
form .button-2:hover {
  background: orangered;
}

::-moz-placeholder {
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  content: "\f007";
  text-align: right;
}

::placeholder {
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  content: "\f007";
  text-align: right;
}

.flex {
  display: flex;
  flex: 1;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
}

#mainheader .navbar .logo {
  width: 130px;
  margin: 2rem 0;
}
#mainheader .navbar ul {
  display: flex;
  margin-top: 3rem;
}
#mainheader .navbar li {
  display: inline-block;
  margin-left: 1rem;
}
#mainheader .navbar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#banner1 {
  width: 92%;
  margin: 0 auto;
  background: orangered;
  color: #fff;
  margin-bottom: 2rem;
}
#banner1 .banner-text {
  padding: 50px;
  display: block;
  text-align: left;
}
#banner1 .banner-text h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
#banner1 .banner-text p {
  line-height: 35px;
}
#banner1 .banner-text .button-1 {
  width: -moz-fit-content;
  width: fit-content;
}

#banner {
  width: 95%;
  margin: 0 auto;
  padding: 70px 0px 0px 0;
  text-align: left;
  background: orangered;
  margin-bottom: 2rem;
}
#banner h2 {
  font-weight: 300;
  margin-top: 3rem;
}

#gallery .gridbox-1 {
  grid-column: 1/2;
  grid-row: 1;
}
#gallery .gridbox-2 {
  grid-column: 2/4;
  grid-row: 1;
}
#gallery .gridbox-3 {
  grid-column: 1/2;
  grid-row: 2;
}
#gallery .gridbox-4 {
  grid-column: 2/4;
  grid-row: 2;
}
#gallery .gridbox-1,
#gallery .gridbox-2,
#gallery .gridbox-3,
#gallery .gridbox-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio .portfolio-box-1 {
  display: flex;
  flex: 1;
  gap: 50px;
  margin-bottom: 2rem;
}
#portfolio .portfolio-box-1 img {
  width: 500px;
}
#portfolio .portfolio-box-1 p {
  line-height: 30px;
}

#about {
  width: 50%;
  margin-left: 1rem;
  line-height: 30px;
}
#about p {
  margin: 4rem 0;
}

#contact {
  width: 70%;
  margin: 0 auto;
}
#contact form {
  margin: 3rem 0;
}
#contact form .flexbox-1 {
  flex: 1;
}

#project .project-content img {
  width: 100%;
}
#project .project-content p {
  margin: 2rem;
}

#footer {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  background: orangered;
}/*# sourceMappingURL=styles.css.map */